* {
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
}
/*flex site into columns wraps all divs GRANDMAMA DIV*/
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /*scrollable?*/
    background-color: #1b1b32;
    color: #fff;
}
.navigation {
    display: flex;
    top: 0;
    height: 38px;
    height: 38px;
    background-color: #0a0a23;
    color: #fff;
    font-size: 18px;
    font-family: sans-serif;
}
/* INPUT */
.magnifier {
    float: left;
    height: 26px;
    background: #3b3b4f;
    color: #fff;
    font-size: 17px;
    border: none;
    margin: 6px 0 6px 26px;
}
.search {
    width: 30vw;
    max-width: 500px;
    margin: 6px 0 6px 0px;
    padding: 0 10px 0 10px;
    height: 26px;
    background: #3b3b4f;
    color: #fff;
    font-family: sans-serif;
    font-size: 18px;
    border: none;
    border-radius: 0;
}
/* MIDDLE LOGO */
.navMiddle {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.logo {
    margin-left: 85px;
    height: 24px;
}
/* NAV RIGHT 3 ICONS */
.navRight {
    display: flex;
    margin-left: auto;
    gap: 15px;
    width: 320px;
    padding: 3px;
}
.globe {
    width: 37px;
    border: solid #fff;
    background: #0a0a23;
}
.lang {
    color:#fff
}
.menu {
    padding: 5px 14px;
    background-color: #0a0a23;
    border: 1px solid #fff;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}
.signIn {
    padding: 4px 12px;
    background: #fecc4c;
    background-image: linear-gradient(#fecc4c, #ffac33);
    border: 3px solid #feac32;
    color: #0a0a23;
    font-size: 18px;
}
.row1 {
    display: inline-block;
    margin: 90px 350px 0 350px;
}
.banner {
    font-family: sans-serif;
    font-size: 25px;
    margin-bottom: 30px;;
}
/* ICONS */
.icons {
    filter: grayscale(1);
    display: flex;
    justify-content: space-evenly;
    margin-left: -40px;
    margin-bottom: 40px;
    width: auto;
    height: 40px;
}
/* GET STARTED BUTTON */
.forFree {
    margin: 0 160px 40px 160px;
    background: #fecc4c;
    background-image: linear-gradient(#fecc4c, #ffac33);
    border: 3px solid #feac32;
    color: #0a0a23;
    width: 500px;
    height: 49.42px;
    padding: 5px;
    font-size: 25px;
    text-align: center;
}
.getStarted {
    display: flex;
    justify-content: center;
}
/*picture*/
.container {
    display: flex;
    justify-content: center;
}
.imgDesc {
    text-align: center;
    font-family: sans-serif;
    color: #d0d0d5;
}
/* AS SEEN IN */
.publication {
    background: #3b3b4f;
    height: 262.92px;
}
.publication h1 {
    padding-top: 50px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 45px;

}
.magazine {
    filter: grayscale(1);
}
.magContainer {
    width: 600px;
    margin-left: 520px;
    line-height: 3em;
}
.wired {
    width: 110.69px;
    height: 35px;
}
.business {
    width: 78.16px;
    height: auto;
}
.inc {
    width: 70.35px;
    height: 21.88px;
}
.lifehacker {
    width: 87.89px;
    height: 21.88px;
}
.time {
    width: 62.03px;
    height: auto;
}
.quartz {
    width: 90.35px;
    height: auto;
}
.usa {
    width: 122.46px;
    height: 22.2px;
}
.newyork {
    width: auto;
    height: 23.83px;
}
.bbc {
    width: 86.68px;
    height: auto;
}
/*TESTIMONIALS*/
.testTitle {
    margin-top: 60px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
.testimonials {
    width: 1278;
    height: 1140;
}
.alumni {
    display: flex;
    justify-content: center;
    margin: 50px;
}
.alumniText {
    width: 850px;
    height: 350px;
    background: #0a0a23;
}
.alumniName {
    margin: 30px;
    text-align: center;
    margin: 50px 0 20px 0;
    font-family: sans-serif;
    font-size: 20px;
}
.alumniQuote {
    margin: 30px;
    line-height: 2em;
    font-family: sans-serif;
}
/* certification buttons area */
.certTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin: 95px 0 40px 300px;
}
.certTitle {
    text-align: left;
}
.certifications {
    margin-left: 300px;
    margin-bottom: 40px;
}
.cert {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 15px;
    height: 80px;
    background: #3b3b4f;
    border: 2px solid #fff;
    color: #fff;
}
.cert:hover {
    background: #fff;
    color: #3b3b4f;
}
.bttmButtons {
    display: flex;
    width: 900px;
}
.buttonTxt {
    font-size: 25px;
    padding: 10px 0 0px 0;
}
.btnIcon {
    font-size: 50px;
    margin-right:10px;
}
/* FAQ CONTAINER */
.faqs {
    margin-top: 45px;
}
.faqs h1 {
    margin-bottom: 40px;
    font-size: 50px;
}
.faqs h2 {
    margin-left: 300px;
    margin-bottom: 50px;
    font-family: 'Courier New', Courier, monospace;
}
.qNa {
    width: 65%;
    margin-left: 300px;
    font-family: Arial, Helvetica, sans-serif;
}
.question {
    font-size: 25px;
    margin-bottom: 20px;
}
.answer {
    font-size: 18px;
    margin-bottom: 30px;
}
/* whole footer container*/
.foot {
    border: dotted #fff 2px;
    display: flex;
    padding: 70px;
    font-family: Arial, Helvetica, sans-serif;
}
/* leftside */
.statement {
    border: solid pink;
}
/* rightt side */
.trend {
    border: solid purple;
    width: 100%;
}
.header {
    border: solid red 1px;
    text-align: center;
    font-size: 20px;
}
.columns {
    border: dotted lime;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
    font-size: 15px;
}
.columns a {
    text-decoration: none;
    color: #fff;
}
.col1 {
    border: solid olivedrab;
}
.col2 {
    border: solid aqua
}
.col3 {
    border: solid palevioletred
}
.links {
    border: solid lime;
}